* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cupom {
  background: #005cff;
  /* width: 100vw; */
  height: 52px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  gap: 5px;
}

.desconto_dez {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.desconto_valor {
  background: #6220c1;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 132px;
}

.logo {
  position: absolute;
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  top: 74.36px;
  left: 120.93px;
}

.menu-hamburguer {
  position: absolute;
  left: 16px;
  top: 78.81px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.menu-hamburguer img {
  width: 23.72px;
  height: 21.38px;
}

.carrinho-compra {
  position: absolute;
  width: 25.03px;
  height: 24.15px;
  top: 75.61px;
  left: 90%;
}

#numero-compras {
  position: absolute;
  width: 1.313rem;
  height: 20.999439239501953;
  bottom: 15px;
  left: 0.625rem;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  width: 90%;
  height: 40px;
  top: 40px;
}

.search-bar img {
  width: 20px;
  height: 20px;
  left: 18rem;
  position: absolute;
}
.search-bar input {
  width: 361px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  flex: 1;
  padding-left: 20px;
}

#search-text::-webkit-input-placeholder {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.carrinho-compra {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Empurra o carrinho para a direita */
}

.carrinho-compra img {
  width: 30px;
  cursor: pointer;
}

/* BANNER */

.banner {
  background: #e7e7ea;
  /* width:391px; */
  height: 306px;
  top: 231px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}

.img-banner {
  width: 400px;
  height: 100%;
  mix-blend-mode: Darken;
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 164px;
  top: 71px;
  left: 213px;
  gap: 15px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.titulo span {
  font-weight: 400;
}

.titulo h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #005cff;
}

#desconto {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* roupas */
.roupas {
  height: 500px;
  /* background-color: #005cff;     */
}

.infos {
  font-family: "Nunito Sans", sans-serif;
  width: 90%;
  font-size: clamp(14px, 1.2vw, 18px);
  line-height: 1.5;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  margin-left: 2vh;
  text-decoration: underline;
  padding: 1rem;
}

.container {
  height: 426px;
  margin-left: 16px;
  margin-right: 16px;
}

.carrossel {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.card {
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  height: 365px;
  width: 174px;
  scroll-snap-align: center;
  border-radius: 10px;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  position: absolute;
  width: 100%;
  height: 180px;
  top: 12px;
}

.title {
  width: 158px;
  height: 57px;
  top: 190px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h3 {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #303030;
}

.precos {
  display: flex;
  align-items: center;
  justify-content: first baseline;
  position: absolute;
  /* width: 143px; */
  width: 100%;
  /* height: 58px; */
  left: 8px;
  top: 247px;
  gap: 10px;
}

.parcelas {
  width: 143px;
  height: 16px;
  top: 289px;
  left: 8px;

  position: absolute;
}

.parcelas p {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.parcelas span {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.p1 {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: line-through;
}

.p2 {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.cashback {
  width: 64px;
  height: 20px;
  top: 247px;
  left: 86px;
  border-radius: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center; /* Garante centralização vertical */
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: row;
  background: #5ec0be;
}
.cashback span {
  position: absolute;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0%;

  text-transform: uppercase;
  color: #ffffff;
}

.buttom {
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  width: 158px;
  height: 40px;
  left: 8px;
  top: 320px;
  background: #005cff;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicador {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 7px;
  height: 7px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.dot.ativo {
  background: #303030;
}

.container-section2 {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.caneca {
  height: 390px;
  overflow: hidden;
}
.caneca img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-caneca {
  height: 390px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.texto-caneca h1 {
  width: 255px;
  height: 34px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.info-caneca {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.info-caneca p {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 5%;
  text-align: left;
}

.container-section3 {
  background: #dedede;
  display: flex;
  flex-direction: column;
  /* gap: 3vw; */
}

.img-section3 {
  height: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-section3 img {
  width: 90%;
  height: 90%;
}

.titulo-section3 {
  width: 100%;
  height: 5rem;
  /* top: 230vh; */
  left: 2vh;
}

.titulo-section3 h1 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
}

.infos-section3 {
  position: absolute;
  background: #dedede;
  width: 100%;
  height: 18rem;
  top: 320vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.texto-section3 {
  width: 100%;
  height: 276px;
  display: flex;
}

.texto-section3 p {
  font-family: Nunito;
  font-weight: 400;
  font-size: 12px;
  /* line-height: 140%; */
  letter-spacing: 5%;
  margin-left: 13px;
}

.pins {
  background-color: #005cff;
  width: 180px;
  height: 60px;
  left: 19px;
  top: 2314px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vh;
}

.pins img {
  width: 30px;
  height: 30px;
  top: 2329px;
  left: 34px;
}

.container-section4 {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-top: 50vh;

  height: 85vh;
}

.banner-section5 {
  position: relative;
  height: 80vh;
  top: 10vh;
  background-image: url(assets/quarto-baner-mobile.png);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-section5 {
  position: absolute;
  background-color: #005cff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto-section5 p {
  font-family: Nunito;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .cupom {
    height: auto;
    flex-direction: row;
    justify-content: center;
    left: auto;
  }

  .logo {
    position: absolute;
    width: 152px;
    height: 27px;
    top: 52px;
  }
  .menu-hamburguer {
    display: flex;
    gap: 2.813rem;
    flex-direction: row;
    position: relative;
    height: 22px;
    top: 45px;
  }

  

  .search-bar {
    position: absolute;
    width: 50%;
    top: 50px;
    left: 20%;
  }
  .search-bar input {
    width: 100%;
  }

  #lupa {
    position: absolute;
    left: 45rem;
  }

  .carrinho-compra {
    position: absolute;
    left: 90%;
    top: 10%;
  }

  .perfil {
    position: absolute;
    left: 80%;
  }

  .banner {
    display: flex;
    align-content: space-between;
    height: 510px;
    mix-blend-mode: Darken;
  }

  .img-banner {
    display: none;
  }

  #img-desktop {
    position: absolute;
    left: 200px;
    top: 151px;
  }

  .titulo {
    width: 576px;
    height: 224px;
    top: 291px;
    position: absolute;
    left: 900px;
  }

  .titulo h1 {
    width: 100%;
    position: absolute;
    top: -5px;
    font-family: Nunito;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .titulo h2 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 30%;
    text-transform: uppercase;
  }

  #desconto {
    font-family: Nunito;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .roupas {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
  }
  .infos {
    height: 27px;
    left: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container {
    display: flex;
    justify-content: center;
    overflow: visible;
  }
  .carrossel {
    width: 1288px;
    height: 478px;
    top: 754px;
    left: 316px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
  }
  
  .card {
    flex: 1;
    width: auto;
    height: 409px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    place-items: center;
  }

  .card img {
    position: absolute;
    height: 222px;
  }
  .title {
    position: absolute;
    top: 250px;
    left: 8px;
  }

  .precos {
    position: absolute;
    top: 300px;
    left: 8px;
    max-width: 222px;
  }

  .parcelas {
    position: absolute;
    top: 330px;
  }

  .buttom {
    position: absolute;
    width: 222px;
    height: 40px;
    top: 361px;
    left: 15px;
    border-radius: 8px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
  }

  .indicador {
    display: none;
  }

  .container-section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
    width: 80vw;
    max-width: 1177px;
    height: 90vh;
    max-height: 747px;
    top: auto;
    left: auto;
    margin: 5vh auto;
  }

  .caneca {
    background: #c2c2c2;
    width: 100vw;
    height: 100%;
    left: 0.5px;
  }

  .info-caneca {
    width: 487px;
    top: 105.5px;
    left: 690px;
    gap: 22px;
    margin-right: 2vh;
  }

  .info-caneca p {
    font-family: Nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    text-align: left;
  }

  .container-section3 {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 20%;
    position: relative;
  }

  .img-section3 {
    position: absolute;
    height: 90%;
    width: 35vw;
    right: 10vw;
  }

  .infos-section3 {
    flex: none;
    width: 50vw;
    position: absolute;
    left: 20vw;
    top: 20vh;
    height: 60vh;
    width: 32vw;
    display: flex;
  }

  .titulo-section3 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
    color: #4f4f4f;
  }

  .texto-section3 p {
    font-family: Nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    color: #4f4f4f;
  }

  .container-section4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
    width: 80vw;
    max-width: 1177px;
    height: 90vh;
    max-height: 747px;
    top: auto;
    left: auto;
    margin: 5vh auto;
  }

  .banner-section5{
    background-image: url(assets/quarto-banner.png);
  }

  .texto-section5 {
    width: 100%;
  }


}
@media screen and (max-width: 768px) {
  .menu-hamburguer p,
  .perfil {
    display: none;
  }

  #img-desktop {
    display: none;
  }
}