* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cupom {
  background: #005cff;
  /* width: 100vw; */
  height: 52px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  gap: 5px;
}

.desconto_dez {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.desconto_valor {
  background: #6220c1;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 132px;
}

.logo {
  position: absolute;
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  top: 74.36px;
  left: 120.93px;
}

.menu-hamburguer {
  position: absolute;
  left: 16px;
  top: 78.81px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.menu-hamburguer img {
  width: 23.72px;
  height: 21.38px;
}

.carrinho-compra {
  position: absolute;
  width: 25.03px;
  height: 24.15px;
  top: 75.61px;
  left: 90%;
}

#numero-compras {
  position: absolute;
  width: 1.313rem;
  height: 20.999439239501953;
  bottom: 15px;
  left: 0.625rem;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  width: 90%;
  height: 40px;
  top: 40px;
}

.search-bar img {
  width: 20px;
  height: 20px;
  left: 18rem;
  position: absolute;
  cursor: pointer;
}

#resultado {
  position: absolute;
  width: 40vh;
  top: 7vh;
  height: 4vh;
  display: flex;
  align-items: center;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
}

.search-bar input {
  width: 361px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  flex: 1;
  padding-left: 20px;
}

#search-text::-webkit-input-placeholder {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
.carrinho-compra {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Empurra o carrinho para a direita */
}

.carrinho-compra img {
  width: 30px;
  cursor: pointer;
}

/* BANNER */

.banner-section-1  {
  background: #E7E7EA;
  height: 19.125rem;
  position: relative;
  top: 5vh;
  display: flex;
  justify-content: space-between;

}

.img-banner-mobile {
  width: 13rem;
  height: 100%;
}
.titulo-banner1-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  z-index: 1;
}

.titulo-1-mobile{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-1-mobile h1{
  font-family: Nunito;
font-weight: 300;
font-size: 40px;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}

.titulo-2-mobile{
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo-2-mobile h2{
  font-family: Nunito;
font-weight: 700;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #005CFF;


}
.titulo-3-mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.75rem;
}

.titulo-3-mobile h2{
  font-family: Nunito;
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #005CFF;

}
/* roupas */
.roupas {
  position: relative;
  top: 5vh;
  height: 500px;
}

.infos {
  font-family: "Nunito Sans", sans-serif;
  width: 90%;
  font-size: clamp(14px, 1.2vw, 18px);
  line-height: 1.5;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  margin-left: 2vh;
  text-decoration: underline;
  padding: 1rem;
}

.container {
  height: 426px;
  margin-left: 16px;
  margin-right: 16px;
}

.carrossel {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.card {
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  height: 365px;
  width: 174px;
  scroll-snap-align: center;
  border-radius: 10px;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  position: absolute;
  width: 100%;
  height: 180px;
  top: 12px;
}

.title {
  width: 158px;
  height: 57px;
  top: 190px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h3 {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #303030;
}

.precos {
  display: flex;
  align-items: center;
  justify-content: first baseline;
  position: absolute;
  width: 100%;
  left: 8px;
  top: 247px;
  gap: 10px;
}

.parcelas {
  width: 143px;
  height: 16px;
  top: 289px;
  left: 8px;

  position: absolute;
}

.parcelas p {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.parcelas span {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.p1 {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: line-through;
}

.p2 {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.cashback {
  width: 64px;
  height: 20px;
  top: 247px;
  left: 86px;
  border-radius: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center; /* Garante centralização vertical */
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: row;
  background: #5ec0be;
}
.cashback span {
  position: absolute;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0%;

  text-transform: uppercase;
  color: #ffffff;
}

.buttom {
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  width: 158px;
  height: 40px;
  left: 8px;
  top: 320px;
  background: #005cff;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicador {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 7px;
  height: 7px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.dot.ativo {
  background: #303030;
}

.container-section2 {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.caneca {
  height: 390px;
  overflow: hidden;
}
.caneca img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-caneca {
  height: 390px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.texto-caneca h1 {
  width: 255px;
  height: 34px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.info-caneca {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.info-caneca p {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 5%;
  text-align: left;
}

.container-section3 {
  background: #dedede;
  display: flex;
  flex-direction: column;
  /* gap: 3vw; */
}

.img-section3 {
  height: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-section3 img {
  width: 90%;
  height: 90%;
}

.titulo-section3 {
  width: 100%;
  height: 5rem;
  /* top: 230vh; */
  left: 2vh;
}

.titulo-section3 h1 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
}

.infos-section3 {
  position: absolute;
  background: #dedede;
  width: 100%;
  height: 18rem;
  top: 320vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.texto-section3 {
  width: 100%;
  height: 276px;
  display: flex;
}

.texto-section3 p {
  font-family: Nunito;
  font-weight: 400;
  font-size: 12px;
  /* line-height: 140%; */
  letter-spacing: 5%;
  margin-left: 13px;
}

.pins {
  background-color: #005cff;
  width: 180px;
  height: 60px;
  left: 19px;
  top: 2314px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vh;
}

.pins img {
  width: 30px;
  height: 30px;
  top: 2329px;
  left: 34px;
}

.container-section4 {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-top: 50vh;

  height: 85vh;
}

.banner-section5 {
  position: relative;
  height: 80vh;
  top: 10vh;
  background-image: url(assets/quarto-baner-mobile.png);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-section5 {
  position: absolute;
  background-color: #005cff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto-section5 p {
  font-family: Nunito;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.container-section6 {
  position: relative;
  top: 20vh;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.infos-section6 {
  background-color: #f5f5f5;
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.title-section6 {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-section6 p {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.title-section6 span {
  color: #005cff;
}
.input-section6 {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.input-section6 input {
  width: 90%;
  height: 3rem;
  border-radius: 8px;
  border: none;
}

.btn-cadastro {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cadastro button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  background: #005cff;
  border-radius: 8px;
  border: none;
  flex: none;
  order: 3;
  flex-grow: 0;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.checkbox-section6 {
  display: flex;
}
.custom-checkbox {
  display: flex;
  width: 90%;
  width: 100%;
  align-items: center;
  gap: 2vw;
}
.custom-checkbox input {
  display: none;
}
.checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}
#input-newsletter::-webkit-input-placeholder {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 2em;
}
.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.custom-checkbox p {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: start;
}
.checkbox-section6 span {
  color: #656565;
  text-decoration: underline;
  cursor: pointer;
}
.footer-section-mobile {
  display: block;
}
.footer-section-desktop {
  display: none;
}
.conteiner-footer {
  background-color: #f5f5f5;
  width: 100%;
  /* height: 55vh; */
  position: relative;
  top: 25vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.logo-footer {
  height: 25vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
}
.redes-sociais {
  display: flex;
  justify-content: space-around;

  width: 12.125rem;
  max-width: 13rem;
  height: 1.6rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links details {
  border: 1px solid #dddddd;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.footer-section-mobile summary {
  list-style: none;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  height: 3.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  list-style: none;
}
.footer-section-mobile ul {
  margin: 0;
  padding: 0 16px 16px 16px;
  background-color: white;
  list-style: none;
}
.footer-section-mobile ul li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0%;
}
summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}
summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
summary::-webkit-details-marker {
  display: none;
}
.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #005cff;
  border-bottom: 2px solid #005cff;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  margin-left: 10px;
}
details[open] .arrow {
  transform: rotate(-135deg);
}
.footer-bottom {
  height: 20vh;
  /* background-color: #005cff; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-footer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  position: relative;

  top: 30vh;
  height: 25vh;
  padding: 2vh;
  gap: 2vh;
}
.img-bottom-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-footer p {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .footer-section-mobile {
    display: none;
  }

  .cupom {
    height: auto;
    flex-direction: row;
    justify-content: center;
    left: auto;
  }

  .logo {
    position: absolute;
    width: 152px;
    height: 27px;
    top: 52px;
  }
  .menu-hamburguer {
    display: flex;
    justify-content: space-around;
    gap: 2.813rem;
    flex-direction: row;
    position: relative;
    height: 22px;
    top: 10vh;
    cursor: pointer;
    width: 85vw;
  }

  .todas-categorias {
    display: flex;
  }

  .dropdown-menu {
    z-index: 1;
    box-shadow: 0px 4px 8px -1px #0000001a;
    background: #ffffff;
    display: flex;
    width: 85vw;
    height: 20.563rem;
    position: absolute;
    top: 38px;
    gap: 2vw;
    display: none;
  }

  .todas-categorias:hover .dropdown-menu {
    display: flex;
    top: 100%;
    left: 0;
  }

  .departamentos:hover .dropdown-menu-categorias {
    display: flex;
    top: 100%;
    left: 0;
  }

  .dropdown-menu-categorias {
    display: none;
    position: absolute;
    width: 85vw;
    height: 20.563rem;
    left: -17vw;
    top: 38px;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0px 4px 8px -1px #0000001a;
  }

  .conteiner-departamentos {
    width: 40vw;
    padding-left: 2vw;
  }

  .title-departamento {
    position: absolute;
    top: 1rem;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
  }

  .container-colunas {
    display: flex;
    gap: 8vw;
    height: auto;
    position: absolute;
    top: 3rem;
    width: 40vw;
  }

  .coluna-departanento ul {
    list-style: none;
    height: 16rem;
    width: 63px;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  .coluna-departanento li {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    height: 20px;
  }
  .menu-lateral {
    width: 14.625rem;
    position: relative;
    background: #f5f5f5;
    overflow-y: scroll;
    padding-top: 1vh;
  }

  .menu-lateral::-webkit-scrollbar {
    width: 8px;
  }

  .menu-lateral::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  .menu-lateral::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #888;
    border: 2px solid transparent;
    background-clip: content-box;
    margin-left: 5px;
  }

  .menu-lateral ul {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    padding-left: 15px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }

  .menu-lateral li {
    height: 19px;
  }

  .menu-lateral ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;
  }

  .menu-lateral ul :hover {
    color: #005cff;
  }

  .coluna ul :hover {
    color: #005cff;
  }
  .menu-lateral ul li span {
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
  }

  .coluna-departanento ul :hover {
    color: #005cff;
  }

  .menu-categorias {
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    width: 35vw;
    gap: 159px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
  }

  .menu-categorias ul {
    list-style: none;
    height: 16rem;
    width: 63px;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  .menu-categorias li {
    height: 19px;
  }

  .menu-banner {
    position: absolute;
    top: 1rem;
    left: 80%;
    width: 14.75rem;
    height: 18.625rem;
    display: flex;
    align-items: center;
  }

  .menu-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.74902) -20.45%,
      rgba(0, 0, 0, 0) 138.31%
    );
    z-index: 1;
    border-radius: 10px;
  }
  .menu-banner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .texto-banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 127.43px;
    height: 207.11px;
    left: 10px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.5%;
    color: #ffffff;
    z-index: 2;
  }

  .btn-menu {
    z-index: 2;
    position: absolute;
    background: none;
    width: 116px;
    height: 3rem;
    top: 14rem;
    left: 10px;
    display: flex;
    justify-content: center;
  }

  .btn-menu button {
    width: 100%;
    background: inherit;
    border: none;
    color: #ffffff;
    font-family: Heebo;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
  }

  .search-bar {
    position: absolute;
    width: 50%;
    top: 50px;
    left: 20%;
  }
  .search-bar input {
    width: 100%;
  }

  #lupa {
    position: absolute;
    left: 45rem;
  }

  .carrinho-compra {
    position: absolute;
    left: 90%;
    /* top: 10%; */
  }

  .perfil {
    position: absolute;
    left: 80%;
  }

  .banner-section-1 {
    height: 31.875rem;
    position: relative;
    top: 5vh;
    display: flex;
    background: #E7E7EA;

  }

  .img-banner-mobile, .titulo-banner1-mobile {
    display: none;
  }

  #img-desktop {
    height: 100%;
    position: absolute;
    left: 11vw;
  }

  .titulo-banner-1 {

    position: absolute;
    left: 50vw;
    top: 12vh;
    width: 36rem;
    height: 14.063rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
  }

  .titulo-1 {
    height: 8.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo-1 h1 {
    font-family: Nunito;
    font-weight: 300;
    font-size: 6em;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .titulo-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
  }

  .titulo-2 h2 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 30%;
    text-transform: uppercase;
    color: #005cff;
  }

  .titulo-3 {
 
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .titulo-3 h2{
    font-family: Nunito;
font-weight: 700;
font-size: 60px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #005cff;

  }
  .roupas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infos {
    height: 27px;
    left: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container {
    display: flex;
    justify-content: center;
    overflow: visible;
  }

  .carrossel {
    margin-top: 2vh;
    width: 80vw;
    height: 478px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    flex: 1;
    width: auto;
    height: 409px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    place-items: center;
  }

  .card img {
    position: absolute;
    height: 222px;
  }
  .title {
    position: absolute;
    top: 250px;
    left: 8px;
  }

  .precos {
    position: absolute;
    top: 300px;
    left: 8px;
    max-width: 222px;
  }

  .parcelas {
    position: absolute;
    top: 330px;
  }

  .buttom {
    position: absolute;
    width: 222px;
    height: 40px;
    top: 361px;
    left: 15px;
    border-radius: 8px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
  }

  .indicador {
    display: none;
  }

  .container-section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
    width: 80vw;
    max-width: 1177px;
    height: 90vh;
    max-height: 747px;
    margin: 8vh auto;
  }

  .caneca {
    background: #c2c2c2;
    width: 100vw;
    height: 100%;
    left: 0.5px;
  }

  .info-caneca {
    width: 487px;
    top: 105.5px;
    left: 690px;
    gap: 22px;
    margin-right: 2vh;
  }

  .info-caneca p {
    font-family: Nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    text-align: left;
  }

  .container-section3 {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 20%;
    position: relative;
  }

  .img-section3 {
    position: absolute;
    height: 90%;
    width: 35vw;
    right: 10vw;
  }

  .infos-section3 {
    flex: none;
    width: 50vw;
    position: absolute;
    left: 20vw;
    top: 20vh;
    height: 60vh;
    width: 32vw;
    display: flex;
  }

  .titulo-section3 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
    color: #4f4f4f;
  }

  .texto-section3 p {
    font-family: Nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    color: #4f4f4f;
  }

  .infos-roupas2 {
    cursor: pointer;
    position: absolute;
    left: 5rem;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Nunito Sans", sans-serif;
    width: 90%;
    padding: 1rem;
  }

  .container-section4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
    width: 80vw;
    max-width: 1177px;
    height: 90vh;
    max-height: 747px;
    top: auto;
    left: auto;
    margin: 5vh auto;
  }

  .banner-section5 {
    background-image: url(assets/quarto-banner.png);
  }

  .texto-section5 {
    width: 100%;
  }

  .container-section6 {
    position: relative;
    top: 20vh;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .infos-section6 {
    width: 80%;

    height: 9rem;
  }
  .input-section6 {
    display: flex;
    flex-direction: row;
  }

  .input-section6 input {
    max-width: 20%;
  }
  .title-section6 {
    position: absolute;
    top: -2%;
  }

  .btn-cadastro {
    max-width: 10%;
  }

  .custom-checkbox {
    gap: 1em;
  }


  .conteiner-footer {
    position: relative;
    display: flex;
    height: 50vh;
  }

  .logo-footer {
    position: absolute;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 40px;
    width: 15vw;
    height: 15vh;
    left: 10vw;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    height: 10rem;
    position: absolute;
    width: 50%;
    height: 170px;
    left: 35rem;
    top: 64px;
  }
  .footer-section-desktop h4 {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
  }

  .footer-section-desktop {
    justify-content:center ;
    display: flex;
    gap: 10px;
    width: 100%;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .footer-section-desktop ul {
    margin-top: 1rem;
    list-style: none;
  }

  .info-desktop {
    width: 67.125rem;
  }

  .footer-bottom-desktop {
    position: absolute;
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    top: 18rem;
  }


}
@media screen and (max-width: 768px) {
  .menu-hamburguer p,
  .perfil,
  .roupas2,
  .footer-bottom-desktop,
  .info-desktop,
  .container-menu-flutuante,
  .todas-categorias,
  .departamentos, .titulo-banner-1 {
    display: none;
  }

  #img-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer-section-mobile,
  .footer-bottom,
  .info-mobile {
    display: none !important;
  }

  .footer-section-desktop {
    display: block !important;
  }
}